<footer>
    <div id="profiles">
        <a href="https://github.com/opensourceoptions"><img src="{{ 'assets/img/github_cut.svg' | relative_url}}"></a>
        <a href="mailto:contact@opensourceoptions.com"><img src="{{ 'assets/img/email_cut.svg' | relative_url }}"></a>
        <a href="https://www.youtube.com/c/KonradHafen"><img src="{{ 'assets/img/youtube_social_circle_dark.png' | relative_url }}"></a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/tutorials">Tutorials</a>
        <a href="#">Blog</a>
        <a href="#">About</a>
    </nav>
    <p class="copyright">Copyright {{'now' | date: "%Y"}}</p>
</footer>