<div class="wrapper">
        <div class="box">
            <div class="text">Text</div>
        </div>
        <div class="middle1"></div>
        <div class="box">
            <div class="text">Text</div>
        </div>
        <div class="middle1"></div>
        <div class="box">
            <div class="text">Text</div>
        </div>
    </div>
    
    <div id="container">
        <div class="left">
            <div class="header-graphic small"><img src="assets/img/menu_button.svg"></div>
        </div>
        <div class="middle">
            <div class="header-graphic"><img src="assets/img/oso_long.svg"></div>
        </div>
        <div class="right">
            <div class="header-graphic small"><img src="assets/img/github_cut.svg"></div>
        </div>
    </div>
    <hr>    
</header>