<div id="profiles">
    {% if page.repo %}
    <a class="repo-button" href="{{page.repo}}"><img src="{{ 'assets/img/github_repo.svg' | relative_url }}"></a>
    {% endif %}
    <a href="https://github.com/opensourceoptions"><img src="{{ 'assets/img/github_cut.svg' | relative_url}}"></a>
    <a href="mailto:contact@opensourceoptions.com"><img src="{{ 'assets/img/email_cut.svg' | relative_url }}"></a>
    <a href="https://www.youtube.com/c/KonradHafen"><img src="{{ 'assets/img/youtube_social_circle_dark.png' | relative_url }}"></a>
</div>