body, html
    height: 100%
    
body
    font-size: 18px
    font-family: 'Open Sans', sans-serif
    font-weight: 500

h1
    font-size: 30px
    font-weight: 800
header
    //float: right
    //display: inline-block
    hr
        clear: both
        border: none
        height: 4px
        background-color: #0064FF 
.menu-button
    position: relative
    top: 0%
    transform: translateY(15%)
    float: left
    width: 33.33%
    text-align: left
    img
        max-width: 50px
.header-graphic
    float: left
    width: 33.33%
    text-align: center
    img
        max-width: 350px
.profiles
    float: left
    width: 33.33%
    text-alight: right
    img
        //text-align: right
        max-width: 50px