body, html
    height: 100%
    
body
    font-size: 18px
    font-family: 'Open Sans', sans-serif
    font-weight: 500
header
    hr
        clear: both
        border: none
        height: 4px
        background-color: #0064FF 
img
    max-width: 100%

