html {
    background-color: #ffffff;
    height: 100%
}
body {
    background-color: #4c4c4c;
    margin: 5px 0px 5px 0px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
header{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0px;
}
.header-graphics {
    height: 56px;
}
.top-hr {
    height: 4px;
    border: 0;
    background-color: #0064FF;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
}
.copyright {
    font-weight: 400;
    padding: 0px;
    margin: 10px
}
footer {
    text-align: center;
    margin: 20px 400px 0px 200px;
}
footer nav{
    margin-bottom: 5px;
}
footer #profiles {
    background-color: #4c4c4c;
    text-align: center;
    margin-bottom: 5px
}
footer #profiles img {
    opacity: 0.5;
}
footer nav a {
    color: black;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
footer nav a:hover {
    color: #0064FF;
    text-decoration: underline;
}
.menu-button{
    float: left;
    margin-left: 0px
}
.menu-button img:hover {
    opacity: 1.0;
}
.menu-button img {
    padding-top: 8px;
    padding-left: 10px;
    height: 35px;
    opacity: 0.7;
}
.main-logo {
    float: left;
    margin-left: 135px
}
.main-logo img:hover{
    opacity: 0.7;
}
.main-logo img {
    padding-left: 20px;
    height: 50px;
}
#profiles {
    text-align: right;
    background-color: #ffffff;
}
#profiles img:hover {
    opacity: 1.0;
}
#profiles img {
    height: 35px;
    opacity: 0.7;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 74px; /* Stay at the top */
    left: 0;
    background-color: #383838;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-bottom: 0px;
}
.sidenav li {
    margin-left: 30px;
    color: #a3a3a3;
}

.sidenav ul a {
    padding-left: 0px;
}

/* The navigation menu links */
.sidenav a {
    padding: 2px 8px 2px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #a3a3a3;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #0064FF;
    /*color: #f1f1f1;*/
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
.sidenav ul a {
    font-size: 18px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 5px 20px 5px 20px;
    margin: 10px 400px 10px 200px;
    background-color: #ffffff;
    box-shadow: 2px 5px 5px
}
p {
    padding-left: 10px;
}
h2 {
    font-size: 28px;
    color: #535d6d;
}
h3 {
    font-size: 24px;
    color: #6b81a3;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 1525px) {
    #main {margin-right: 300px;}
    footer {margin-right: 300px;}
}
@media screen and (max-width: 1325px) {
    #main {margin-right: 200px;}
    footer {margin-right: 200px;}
}
@media screen and (max-width: 1125px) {
    #main {margin-right: 100px;}
    footer {margin-right: 100px;}
}
@media screen and (max-width: 925px) {
    #main {margin-right: 0px;}
    footer {margin-right: 0px; margin-left: 200px}
}
@media screen and (max-width: 725px) {
    #main {margin-left: 0px; margin-right: 0px;}
    footer {margin-left: 0px; margin-right: 0px;}
    .main-logo img {height: 45px; padding-left: 8px;}
    .menu-button img {height: 30px; padding-left: 5px;}
    .main-logo {margin-left: 0px;}
}
