<!DOCTYPE html>
<html>
{% include head.html %}

    <body onload="openNavBody()">
        {% include header.html %}
        <hr class="top-hr">
        
        {% include sidenav.html %}

        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            {% include profiles.html %}
            <div class="page-title">{{ page.title }}</div>
            
            <div class="prevnext-bottom">
            {% include prevnext_top.html %}
            </div>
            <p>category: {{ page.category }}</p>
            <div class="post-top">
                <div class="gray-toc">
                    {% include toc.html html=content ordered=true h_max=2%}
                </div>
            </div>
            <div class="content">
                {{ content }}
            </div>
            <div class="prevnext-bottom">
            {% include prevnext_top.html %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
